<background id="bg" ng-show="$ctrl.load"></background>
<section class="welcome" ng-show="$ctrl.load">
  <svg id="curve--viewbox" viewBox="0 0 360 130">
    <path id="curve__path" d=" M 33.129 130.642 C 117.516 50.179 241.277 48.066 326.871 130.642" fill="none"
      vector-effect="non-scaling-stroke" stroke-miterlimit="3" />
    <path id="curve__line" d=" M 51.656 128.016 C 138 130.661 223.458 130.671 308 128.016" fill="none" vector-effect="non-scaling-stroke"
      stroke-miterlimit="3" />
    <text class="curve__path--txt" width="360">
      <textPath xlink:href="#curve__path">
        welcome
      </textPath>
    </text>
    <text class="curve__line--txt" width="360">
      <textPath xlink:href="#curve__line">
        .:!:.
      </textPath>
    </text>
  </svg>
</section>

<section class="about" ng-show="$ctrl.load">
  <div class="about__title">84TIGERS</div></span>
  <div class="about__descript">
    <span class="about__descript--01">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span> 
    <!-- <span class="about__descript--02">home to creative works</span>
    <span class="about__descript--03">by</span>
    <span class="about__descript--04">Andrew Hyska.</span>
  </div>
  <div class="about__titles">web developer | illustrator</div> -->

  <section class="about__links">
    <div class="about__links__txt">Visit the links below for examples of work.</div>
    <!-- flex icons section | add icons -->
    <section class="about__links__icons">
      <div class=""><i class="fab fa-linkedin about__links__icons--01"></i></div>
      <div class=""><i class="fab fa-github-square about__links__icons--02"></i></div>
      <div class="about__links__icons--03"><i class="fab fa-codepen"></i></div>
      <div class=""><i class="fab fa-instagram about__links__icons--04"></i></div>
      <div class="about__links__icons--05"><i class="fas fa-shopping-cart"></i></div>
    </section>
  </section>
</section>
<section class="logo"  ng-click="$ctrl.loadHome();">
  <div class="logo__layer--01" ng-class="{'land--anim': $ctrl.landAnim}"></div>
  <div class="logo__layer--02" ng-class="{'land--anim': $ctrl.landAnim}"></div>
  <div class="logo__layer--03" ng-class="{'land--anim': $ctrl.landAnim}"></div>
  <div class="logo__layer--04" ng-class="{'land--anim': $ctrl.landAnim}" ng-show="$ctrl.logoTxt"></div>
  <div class="logo__layer--05" ng-class="{'land--anim': $ctrl.landAnim}" ng-show="$ctrl.logoTxt"></div>
  <div class="logo__layer--05b" ng-class="{'land--anim': $ctrl.landAnim}" ng-show="$ctrl.logoTxt === false"></div>
  <!-- ng-class="{'land--anim': $ctrl.landAnim}" -->
  <div class="logo__layer--06" ng-class="{'land--anim': $ctrl.landAnim}" ng-show="$ctrl.logoTxt"></div>
  <div class="logo__layer--07" ng-class="{'land--anim': $ctrl.landAnim}" ng-show="$ctrl.logoTxt"></div>
  <div class="logo__layer--07b" ng-class="{'land--anim': $ctrl.landAnim}" ng-show="$ctrl.logoTxt === false"></div>
  <div class="logo__layer--08" ng-class="{'land--anim': $ctrl.landAnim}"></div>
  <div class="logo__layer--09" ng-class="{'land--anim': $ctrl.landAnim}"></div>
</section>